// 640 x 360
$height: 360px;
$width: 640px;
$border: 20px;
$depth: 110px;
$translateborder: -20px;


:root{
--height: 360px;
--width: 640px;
--border: 20px;
--depth: 110px;
--translateborder: -20px;
--bordercolor: #000;
}
    



*{
    margin: 0;
    padding: 0;
}

article {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightseagreen;

    .container{
        position: relative;
        width: calc(var(--width) + 2 * var(--border));
        height: calc(var(--height) + 2 * var(--border));
        transform-style: preserve-3d;
        
        transform:
        perspective(500px)
        rotateX(var(--rotateX))
        rotateY(var(--rotateY));

        &::after{
            width: calc(var(--width) + 200px);
            height: calc(var(--height) + 100px);
            content:"";
            background: rgba(0,0,0, 0.7);
            box-shadow: 0 0 10px black;
            filter: blur(4px);
            transform: 
                translateZ(-180px)
                translateX(var(--translateX))
                translateY(var(--translateY))
                scaleX(var(--scaleX))
                scaleY(var(--scaleY));
            position: absolute;
            top: -60px;
            left: -120px;
        }

        .images{
            position: absolute;
            width: var(--width);
            height: var(--height);
            inset: var(--border);
            filter: drop-shadow(2px 2px 10px black);

            &.i6{
                opacity: 0;
            }
            
        }
    }

    
}

@for $i from 1 through 14{
    .i#{$i}{
        transform: translateZ(-4px * $i);
    }
}

.border {

    position: absolute;
    background: var(--bordercolor);

    
    // border: $border solid black;
    &.interna-lat{
        height: var(--height);
        width: var(--depth);
        top: var(--border);
        box-sizing: border-box;
        border: 4px solid;
        border-image: linear-gradient(to right, darkblue, darkorchid) 1;


        transform: 
            rotateY(90deg)
            translateX(calc(-1 * var(--translateborder))); 
        

        &.direita{
            right: calc(var(--border) - var(--depth) / 2);
            
        }
        &.esquerda{
            left: calc(var(--border) - var(--depth) / 2);
        }
    }

    &.interna-vert{
        height: var(--depth);
        width: var(--width);
        left: var(--border);
        box-sizing: border-box;
        border-bottom: 4px solid;
        border-image: linear-gradient(to right, darkblue, darkorchid) 1;

        transform: 
            rotateX(90deg)
            translateY(var(--translateborder));  
        
        &.cima{
            top: calc(var(--border) - var(--depth) / 2);
        }

        &.baixo{
            bottom: calc(var(--border) - var(--depth) / 2);
        }
    }

    &.externa-lat{
        height: calc(var(--height) + 2 * var(--border));
        width: var(--depth);
        top: 0;
        transform: 
            rotateY(90deg)
            translateX(calc(-1 * var(--translateborder))); 

        &.direita{
            right: calc(-1 * var(--depth) / 2);
        }
        &.esquerda{
            left: calc(-1 * var(--depth) / 2);
        }
    }

    &.externa-vert{
        height: var(--depth);
        width: calc(var(--width) + 2 * var(--border));
        left: 0;

        transform: 
            rotateX(90deg)
            translateY(var(--translateborder));  
        
        &.cima{
            top: calc(-1 * var(--depth) / 2);
        }

        &.baixo{
            bottom: calc(-1 * var(--depth) / 2);
        }
    }

    &.frontal{
        inset: 0;
        background: transparent;
        border: var(--border) solid var(--bordercolor);

        &.btop{
            transform:translateZ(calc(var(--translateborder) + var(--depth) / 2));

        }

        &.bbot{
            transform:translateZ(calc(var(--translateborder) - var(--depth) / 2));

        }


    }
}

footer{
    position: absolute;
    bottom: 2rem;
    right: 50%;
    transform: translateX(50%);
    p{
        margin: 0.5em;
    }
}
.attribution { 
    font-size: 20px; 
    text-align: center; 
}

.attribution a { 
    color: rgb(102, 34, 68); 
    text-decoration: none;
}

@media only screen and (max-width: 1000px){
    
    :root{
    --height: 240px;
    --width: 427px;
    --border: 15px;
    --depth: 70px;
    --translateborder: -30px;
    }

    .attribution { 
        font-size: 15px; 
        text-align: center; 
    }
}

@media only screen and (max-width: 650px){
    
    :root{
    --height: 180px;
    --width: 320px;
    --border: 10px;
    --depth: 70px;
    --translateborder: -30px;
    }
}

@media only screen and (max-width: 500px){
    
    :root{
    --height: 120px;
    --width: 214px;
    --border: 10px;
    --depth: 70px;
    --translateborder: -30px;
    }
}
